# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
_libgcc_mutex==0.1
_openmp_mutex==4.5
absl-py==2.1
asttokens==2.4
astunparse==1.6
babel==2.15
backcall==0.2
cachetools==5.5
certifi==2024.8
ca-certificates==2024.8
charset-normalizer==3.3
contourpy==1.1.1
cudatoolkit==9.2
cycler==0.12
decorator==5.1
freetype==2.12
future==1.0
gast==0.4
google-pasta==0.2
grpcio==1.66
heapdict==1.0
hsluv==5.0
idna==3.7
imageio==2.34
jedi==0.19
keras==2.13
kiwisolver==1.4
lerc==4.0
libclang==18.1
matplotlib==3.7
mkl==2024.2.1
mkl-fft==1.3
numpy==1.24
ncurses==6.5
networkx==3.1
nibabel==5.2
openjpeg==2.5
openssl=3.3
packaging==24.1
parso==0.8
pathlib==1.0
pickleshare==0.7.5
pillow==10.4
pip==24.0
protobuf==4.25
ptyprocess==0.7
pure-eval==0.2
pyasn1==0.6
pycerr==0.1.dev513+g3c26f8a=pypi_0
pydicom==2.4
pygments==2.18
pyparsing==3.1
python==3.8.19
pytz==2024.2
readline=8.2
scikit-image==0.21
scikit-learn==1.3
scipy==1.10
shapely==2.0
shapelysmooth==0.2
simpleitk==2.0.2
stack-data==0.6
setuptools=73.0
six==1.16
sqlite==3.46
tensorflow==2.13.1
tensorflow-estimator==2.13.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2023.7.10
tk==8.6
torch==1.5.0+cu92
torchvision==0.6.0+cu92
tqdm==4.66.4
wheel==0.44
wrapt==1.16
xorg-libxau==1.0
xorg-libxdmcp==1.1
xz==5.2.6
zipp==3.20
zstd==1.5