absl-py==2.3.1
beautifulsoup4==4.13.5
certifi==2025.8.3
charset-normalizer==3.4.3
contourpy==1.1.1
cycler==0.12.1
dominate==2.9.1
fonttools==4.57.0
future==1.0.0
h5py==3.11.0
idna==3.10
imageio==2.35.1
importlib-resources==6.4.5
jsonpatch==1.33
jsonpointer==3.0.0
keras==2.13.1
kiwisolver==1.4.7
lazy-loader==0.4
matplotlib==3.7.5
networkx==3.1
nibabel==5.2.1
numpy==1.24.3
packaging==25.0
pandas==2.0.3
pillow==10.4.0
pycerr @ git+https://github.com/cerr/pyCERR.git@f0a39556daca7fc2d7ca9a51245a16cc3ebaf179
pydicom==2.4.4
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
pywavelets==1.4.1
requests==2.32.3
scikit-image==0.21.0
scipy==1.10.1
simpleitk==2.0.2
six==1.17.0
soupsieve==2.7
surface-distance @ git+https://github.com/google-deepmind/surface-distance@1f805cea446805e559badc80dd27f34175e4173d
tifffile==2023.7.10
torch==1.5.0+cu92
torchvision==0.6.0+cu92
tornado==6.4.2
tqdm==4.66.4
typing-extensions==4.13.2
urllib3==2.2.3
visdom==0.2.4
websocket-client==1.8.0
zipp==3.20.2
